#transformers==4.50.0
#bitsandbytes>=0.41.3

peft>=0.6.0
bitsandbytes>=0.41.0

datasets
evaluate

tensorboard
transformers
trl

pydicom
pillow
scipy

jinja2>=3.1.0
gdcm
python-gdcm

pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
deepspeed
torchvision
